/* .red {
  color: red;
}

.blue {
  color: blue;
}

.box {
  border: 2px solid black;
  background: pink;
} */

/* body {
  text-align: center;
}

.colorContainer {
  height: 100px;
  width: 500px;
  border: 2px solid black;
  margin: 20px auto;
} */
