<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolldice</title>
  </head>
  <body>
    <% if(dicVal == 6) { %>
    <h1>Nice! Dive give value: <%= dicVal %></h1>
    <% } else { %>
    <h1>Dive give value: <%= dicVal %></h1>
    <% }%>
  </body>
</html>
